body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 568px) {
    .container {
        margin: auto;
        width: 95%;
    }
}

@media (min-width: 992px) {
    .container {
        margin: auto;
        width: 95%;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: auto;
        width: 80%;
    }
}